# VS Code settings
.vscode/

# Pycharm
.idea/

# env files
*.env
.env

# log files
logs/

# Input files
inputs/

# Output files
outputs/
output.json

# Virtual environment
scrapestrike/
venv/

__pycache__/

.mypy_cache/
.pytest_cache/
.idea/

.DS_Store